# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode Build generated
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# User settings / Workspace state (This prevents the merge conflicts!)
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# CocoaPods (Uncomment if you use CocoaPods and want to ignore them)
# Pods/
